.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: var(--bold-weight);
  font-size: 2rem;
}
