.filter {
  padding: 1rem;
  background-color: var(--secondary-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: var(--regular-weight);
  font-size: 1rem;
}
.filter__span,
.filter__btn {
  color: var(--tertiary-txt);
  font-size: 0.98rem;
  font-weight: inherit;
  transition: color var(--delay);
}
.filter__btn:hover {
  color: var(--tertiary-hover-txt);
}
.active {
  color: var(--primary-txt-bright) !important;
}

.contain {
  font-weight: var(--bold-weight);
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
