.bottom {
  position: relative;
  width: 100%;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding: var(--padding-container);
  background-color: var(--secondary-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom__span,
.bottom__button {
  color: var(--tertiary-txt);
  font-size: var(--small-font-size);
  font-weight: var(--regular-font-weight);
}

.filter {
  background-color: var(--secondary-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.125rem;
}
.filter__button {
  color: var(--tertiary-txt);
  text-transform: capitalize;
  font-size: var(--small-font-size);
  font-weight: var(--bold-font-weight);
}
:is(.filter__button, .bottom__button) {
  transition: color var(--delay);
}
:is(.filter__button, .bottom__button):hover {
  color: var(--tertiary-hover-txt);
}
.active {
  color: var(--primary-txt-bright) !important;
}

@media (max-width: 31.25rem) {
  .filter {
    position: absolute;
    top: calc(1rem + 3rem);
    left: 0;
    width: 100%;
    border-radius: var(--border-radius);
    padding: var(--padding-container);
    -webkit-box-shadow: var(--primary-box-shadow);
    -moz-box-shadow: var(--primary-box-shadow);
    box-shadow: var(--primary-box-shadow);
    gap: 1.5rem;
  }
}
