.bottom {
  position: relative;
  width: 100%;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding: 1rem;
  background-color: var(--secondary-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom__span,
.bottom__button {
  color: var(--tertiary-txt);
  font-size: var(--small-font-size);
  font-weight: var(--regular-font-weight);
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
}
.filter__button {
  color: var(--tertiary-txt);
  text-transform: capitalize;
  font-size: var(--small-font-size);
  font-weight: var(--bold-font-weight);
}
:is(.bottom__button, .filter__button) {
  transition: color var(--delay);
}
:is(.bottom__button, .filter__button):hover {
  color: var(--tertiary-hover-txt);
}

.active {
  color: var(--primary-txt-bright) !important;
}
