.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--primary-line);
  display: block;
}

.form {
  width: 100%;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--secondary-bg);
  -webkit-box-shadow: var(--primary-box-shadow);
  -moz-box-shadow: var(--primary-box-shadow);
  box-shadow: var(--primary-box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__input {
  padding-left: 1rem;
  color: var(--primary-txt);
  font-size: var(--medium-font-size);
  font-weight: var(--regular-font-weight);
  caret-color: var(--primary-txt-bright);
  flex: 1;
}
.form__input::placeholder {
  color: var(--secondary-txt);
}