:root {
  --primary-txt-bright: hsl(220, 98%, 61%);
  --primary-bg-check: linear-gradient(
    145deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  --primary-font-family: "Josefin Sans", sans-serif;
  --regular-weight: 400;
  --bold-weight: 700;
  --border-radius: 5px;
}

.light {
  /* NEW COLORS */
  --primary-bg: rgb(250, 250, 250); /* main */
  --secondary-bg: rgb(255, 255, 255); /* task */
  --primary-txt: rgb(67, 66, 71); /* text */
  --secondary-txt: rgb(209, 209, 211); /* text line-through */
  --tertiary-txt: rgb(151, 150, 155); /* text footer */
  --tertiary-hover-txt: rgb(88, 86, 107); /* text footer */
  --primary-line: rgb(230, 229, 234);
}

.dark {
  /* NEW COLORS */
  --primary-bg: rgb(24, 24, 36); /* main */
  --secondary-bg: rgb(37, 39, 60); /* task */
  --primary-txt: rgb(200, 202, 227); /* text */
  --secondary-txt: rgb(77, 79, 100); /* text line-through */
  --tertiary-txt: rgb(96, 98, 123); /* text footer */
  --tertiary-hover-txt: rgb(233, 235, 255); /* text footer */
  --primary-line: rgb(73, 76, 107);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
*::before,
*::after {
  display: block;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
/* ::selection {
  background-color: var(--negro);
  color: var(--blanco);
} */

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;
  outline: none;
}

button {
  cursor: pointer;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--primary-font-family);
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
