.task_item {
  width: 100%;
  border-bottom: 1px solid var(--primary-line);
  padding: 1rem;
  background-color: var(--secondary-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.task__btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--primary-line);
  padding-left: 0.1rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: inherit;
}

.task__btn:checked {
  border-color: transparent;
  background: var(--primary-bg-check) border-box;
}

.task__btn:checked::before {
  content: url(../../assets/icons/icon-check.svg);
}

.task__label {
  font-size: 1.125rem;
  font-weight: var(--regular-weight);
  cursor: inherit;
}
.task__btn:checked + .task__label {
  color: var(--secondary-txt);
  text-decoration: line-through;
}
