.task-contain {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.task {
  width: 100%;
  border-bottom: 1px solid var(--primary-line);
  padding: 1rem;
  background-color: var(--secondary-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task__checkbox {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--primary-line);
  padding-left: 0.1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: inherit;
  transition: all var(--delay);
}
.task__checkbox:hover {
  background: linear-gradient(var(--secondary-bg), var(--secondary-bg))
      padding-box,
    var(--primary-bg-check) border-box;
  border: 2px solid transparent;
}
.task__checkbox:checked {
  border-color: transparent;
  background: var(--primary-bg-check) border-box;
}
.task__checkbox:checked::before {
  content: url(../../assets/icons/icon-check.svg);
}
.task__checkbox:checked + .task__label {
  color: var(--secondary-txt);
  text-decoration: line-through;
}
.task__label {
  font-size: 1.125rem;
  font-weight: var(--regular-weight);
  cursor: inherit;
}
.task__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task__button::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all var(--delay);
}
.task__button:hover::before {
  opacity: 1;
}
